pyQt5==5.15.11
ms-toollib>=1.5.14
setuptools==80.9.0
msgspec>=0.20.0
zmq>=0.0.0
pywin32>=311
loguru>=0.7.3
debugpy>=1.8.20
PyQt5-stubs>=5.15.6.0
requests>=2.33.1
textdistance
pycryptodome>=3.20.0
PyMCUlib>=1.0.3

# 开发/测试/打包依赖
pytest>=7.4.0
pytest-qt>=4.2.0
mypy>=1.8.0
